.marketSetup {
	background: var(--clr-svetro-light);
	padding-block: 4rem;
}

.marketSetup__title {
	color: var(--clr-primary);
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2rem;
}

.marketSetup__cards {
	display: flex;
	gap: 2.563rem;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 50em) {
	.marketSetup {
		padding-block: 8rem;
	}

	.marketSetup__title {
		margin-bottom: 3.125rem;
	}
}

@media (min-width: 80em) {
	.marketSetup__cards {
		flex-direction: row;
	}
}
