.card {
	background: var(--clr-white);
	padding: 1.5rem;
	box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
	border-radius: 20px;
	border-top: 20px solid var(--clr-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: 395px;
	min-height: 600px;
}

.card__title {
	text-align: center;
	margin-bottom: 1.563rem;
	color: var(--clr-primary);
}

.item {
	text-transform: lowercase;
	margin-bottom: 1.25rem;
	color: var(--clr-primary);
}

.item:last-child {
	margin-bottom: 2.188rem;
}
