.hero {
	color: var(--clr-primary);
	background: linear-gradient(
			0deg,
			rgba(244, 244, 244, 0.8),
			rgba(244, 244, 244, 0.8)
		),
		url(../../../assets/contact.jpg) no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	padding-block: 3.125rem;
	text-align: center;
}

.hero__flex {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.hero__title {
	font-size: 2rem;
	max-width: 20ch;
	margin-inline: auto;
	margin-bottom: 1rem;
}

.arrow {
	max-width: 2rem;
}

.hero__title span {
	color: var(--clr-svetro-red);
}

.hero__subtitle {
	font-weight: 500;
	max-width: 35ch;
	margin-inline: auto;
	font-size: 1.125rem;
	margin-bottom: 4.5rem;
}

@media (min-width: 50em) {
	.hero {
		padding-block: 7.125rem;
	}

	.hero__title {
		font-size: 4.5rem;
	}

	.hero__subtitle {
		max-width: 48ch;
		font-size: 1.5rem;
	}
}
