.contact {
	padding-block: 4.375rem;
	overflow: hidden;
}

.contact__title {
	margin-bottom: 2.313rem;
	color: var(--clr-primary);
}

.contact__info {
	display: grid;
	align-items: center;
	justify-content: center;
	background: var(--clr-white);
	box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.14);
	border-radius: 5px;
}

.contact__detailsTitle {
	margin-bottom: 7rem;
}

.contact__info {
	padding-top: 1rem;
}

.contact__details {
	padding: 1rem;
}

.contact__img {
	position: relative;
}

.contact__img img {
	margin-top: -2rem;
	border-radius: 20px;
}

.contact__btns {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

@media (min-width: 50em) {
	.contact__info {
		grid-template-columns: repeat(3, 1fr);
	}

	.contact__img {
		grid-column: 1/2;
	}

	.contact__details {
		grid-column: 2/-1;
	}

	.contact__img img {
		margin-top: 0;
	}
}

@media (min-width: 80em) {
}
