.hero {
	background: var(--clr-primary);
	color: var(--clr-white);
	padding: 3.75rem 0;
}

.hero__title {
	margin-bottom: 1.25rem;
}

.hero__subtitle {
	max-width: 45ch;
}

@media (min-width: 50em) {
	.hero__title {
		font-size: 1.75rem;
	}
	.hero__subtitle {
		max-width: 59ch;
		font-size: 1.5rem;
	}
}
